@use "../utils/breakpoint" as *;
.nav {
  position: fixed;  
  // top: 20px;
  width: 100%;
  z-index: 20;
  height: 4rem;
  @include xxlg {
    width: 100rem;
    margin: 0 auto;
  }
  // background-color: white;
}

.nav-active {
  background-color: #ffffff;
  border-bottom: 1px solid #d1d5db;
}
// .nav__normal {
//   background-color: #ffffff;
//   border-bottom: 1px solid #d1d5db;
// }

.layout {
  width: 100%;
  @include xxlg {
    width: 100rem;
    margin: 0 auto;
  }
}
