.p-accordion .p-accordion-tab {
  width: 15rem !important;
  min-height: 2rem;
}
.p-accordion-header,
.p-accordion-header-link {
  height: 4rem;
}

.p-accordion-header-link {
  display: flex;
  gap: 1rem;
  background: none;
  padding-inline: 1rem;
}

.filter__container {
  padding-inline: 1rem;
  padding-block: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.filter__options {
  display: flex;
  gap: 0.5rem;
}
