// body bg color
$white: #ffffff;

// nav bottom border
$light-grey: #d1d5db;
$neutral-200: #e5e5e5;
$black-900: #262626;
$neutral-800: #262626;
$zinc-300: #f4f4f4;
$sky-blue: #4294c9;
$dark-blue: #072c83;
$grey-400: #9ca3af;
